body {
  position: relative;
  width: fill;
  height: 600px;
  font-family: sans-serif;
  background: #e8f0ff;
  overflow: auto;
}

h1 {
  border-bottom: 1pt solid black;
  margin: 30px;
}

.navbar {
  width: auto;
  height: 50px;
  background: rgb(9, 30, 68);
  border-radius: 2px;
}

.navbar-right {
  float: right;
  width: 290px;
  padding-right: 10px;
}

.navbar-left {
  float: left;
  width: 290px;
  padding-top: 10pt;
  padding-left: 10pt;
  font-family: sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.navbar {
  width: auto;
  height: 50px;
  background: rgb(9, 30, 68);
  border-radius: 2px;
}

.navbar ul {
  float: left;
  margin-top: 5px;
  padding: 0;
  width: 300px;
  margin-right: 0px;
}

.navbar li {
  float: right;
  list-style: none;
  margin: 0 20% 0 0;
}

.navbar button {
  display: block;
  height: 5px;
  margin-top: 5px;
  border: 1px solid blue;
  font-weight: bold;
  color: white;
  height: 30px;
  width: 90px;
  border-radius: 20px;
  margin-right: 10px;
  background-color: blue;
  cursor: pointer;
  font-size: 24pt;
}

.navbar li a,
.navbar li a:link {
  text-decoration: none;
  width: 0px;
  height: 30px;
}

.navbar li a button:hover {
  background: white;
  color: #444;
}
.grid-container {
  display: grid;
  grid-template-areas: "menu menu right";
  grid-gap: 0px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.container {
  width: auto;
  height: auto;
  top: 1600px;
  background: rgba(255, 255, 255, 0.77);
  border: 1px solid #091e44;
  box-sizing: border-box;
}

.container .card-penerbangan {
  width: 80%;
  margin: 0pt 0 20pt 10%;
  padding: 2%;
  border: 1pt solid gray;
  border-radius: 3px;
  display: grid;
  grid-template-areas:
    "Maskapai Maskapai Maskapai Maskapai Maskapai"
    "img depart details arrival price"
    "none none none none tombol";
  grid-gap: 0px;
}

.kol1 {
  grid-area: img;
  margin-top: -68px;
  margin-bottom: 0cm;
  margin-left: 2pc;
  border: 0 solid black;
}
.kol6 {
  margin-left: 6cm;
  margin-top: 4px;
  grid-area: Maskapai;
}
.kol66 {
  margin-left: -8cm;
  margin-top: 40px;
  margin-bottom: 2px;
  grid-area: Maskapai;
  font-weight: bold;
}
.kol2 {
  grid-area: depart;
  font-size: 14pt;
  margin-left: 9pt;
}

.kol3 {
  grid-area: details;
  padding-right: 30pt;
  margin-left: -6.7cm;
  margin-top: 3px;
}
.kol11 {
  grid-area: arrival;
  font-size: 17pt;
  margin-left: -8cm;
  margin-top: -10px;
}
.kol12 {
  grid-area: arrival;
  font-size: 17pt;
  margin-left: 0cm;
  margin-top: -10px;
}
.kol13 {
  grid-area: arrival;
  font-size: 17pt;
  margin-left: -2cm;
  margin-top: -10px;
}
.kol4 {
  grid-area: arrival;
  font-size: 14pt;
  margin-left: -13cm;
}
.kol5 {
  grid-area: price;
  font-size: 14pt;
  margin-top: 10pt;
}
.re {
  grid-area: price;
  font-size: 12pt;
  margin-top: 2cm;
}
.kol7 {
  grid-area: tombol;
  background-color: #377eff;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5cm;
  margin-right: 5cm;
}
.container .atas1 {
  width: 81%;
  margin: 30pt 0 0pt 10%;
  padding: 20px;
  border: 1pt solid rgb(8, 4, 4);
  border-radius: 3px;
  display: grid;
  background-color: #e8f0ff;
  grid-template-areas:
    "Maskapai Maskapai Maskapai Maskapai Maskapai"
    "img depart details arrival price"
    "none none none none tombol";
  grid-gap: 0px;
}
